[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/longtzw/vim-pathogen
[submodule "bundle/vim-supertab"]
	path = bundle/vim-supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-mutiple-cursors"]
	path = bundle/vim-mutiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
